@{
    ViewBag.Title = "Lista de Proveedores";
}
<div>
    <h1>Añadir Proveedores</h1>
    <form action="/Suppliers/Insert" method="post">
        <label>Nombre:</label>
        <input name="nombre" type="text" required><br>
        <label>Pais:</label>
        <input name="pais" type="text" required><br>
        <input type="submit" class="btn btn-success" value="Guardar">
    </form>
</div>
